$color-list:red,black,white,blue,green,gray;
$white: #fff;
$black:#000;
$brand-font: 'Century Gothic';
$modal-width:900px;
$dark-color:#2A363B;
$dark-accent-color:#474747;
$dark-accent-color-2:#363636;
$accent-color:#E84A5F;
$btn-color:#FECEAB;
$btn-hover-color:#F8B195;
