$color-list:red,black,white,blue,green,gray;
$logo-url:'/assets/images/f4.png';
$white: #fff;
$black:#000;
$modal-width:900px;
$dark-color:#343a40;
$dark-accent-color:#474747;
$dark-accent-color-2:#363636;
$accent-color:#ff4d4d;
$btn-color:#007bff;
$btn-hover-color:#0069d9;

$text-color:#fff;
$modal-bg:#fff;

//#e66767